<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Pet Depot</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
</head>
<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-row justify-content-between">
                <a class="navbar-brand" href="#">{{ sitename }}</a>
                <button
                    class="btn btn-outline-primary"
                    @click="showCheckout"
                >
                    {{ cartItemCount }}
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Checkout
                </button>
            </nav>
        </header>
        <main class="flex flex-column align-items-center" style="margin-top: 20px;">
            <div v-if="showProduct">
                <div v-for="product in products">
                    <div class="row product">
                        <div class="col-md-5 col-md-offset-0">
                            <figure>
                                <img v-bind:src="product.image" width="500">
                            </figure>
                        </div>
                        <div class="col col­-expand">
                            <h1 v-text="product.title"></h1>
                            <p v-html="product.description"></p>
                            <p class="price">
                                {{ formatPrice(product.price) }}
                            </p>
                            <button
                                class="btn btn-primary"
                                @click="addToCart(product)"
                                v-bind:disabled="!canAddToCart(product)"
                            >
                                Add to cart
                            </button>
                            <span class="inventory-message" v-if="product.availableInventory - cartItemCount === 0">
                                All out!
                            </span>
                            <span class="inventory-message" v-else-if="product.availableInventory - cartItemCount < 5">
                                Only {{ product.availableInventory - cartItemCount }} left!
                            </span>
                            <span class="inventory-message" v-else>
                                Buy now!
                            </span>
                            <div class="rating">
                                <span v-for="n in product.rating">★</span>
                                <span v-for="n in (5 - product.rating)">☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="row">
                    <div class="d-flex align-items-center flex-column">
                        <form action="">
                            <div class="form-group">
                                <div class="col-­md-­6">
                                    <strong>First Name:</strong>
                                    <input v-model.trim="order.firstName" class="form­-control" />
                                    <strong>Last Name:</strong>
                                    <input v-model.trim="order.lastName" class="form­-control" />
                                </div>
                            </div>
                            <div class="form­-group">
                                <div class="col-­md-­12">
                                    <strong>Address:</strong>
                                    <input v-model.trim="order.address" class="form-­control" />
                                    <strong>City:</strong>
                                    <input v-model.trim="order.city" class="form-­control" />
                                </div>
                            </div>
                            <div class="form-­group">
                                <div class="col-­md-­2">
                                    <strong>State:</strong>
                                    <select v-model="order.state" class="form-­control">
                                        <option disabled value="">State</option>
                                        <option :value="state" v-for="(state, key) in states">{{ state }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-­group">
                                <div class="col-­md-­6 col-­md-­offset-­4">
                                    <strong>Zip / Postal Code:</strong>
                                    <input v-model.number="order.zip" class="form-­control" />
                                </div>
                            </div>
                            <div class="form­-group">
                                <div class="col-­md-­6 boxes">
                                    <input type="checkbox" id="gift" value="true"
                                        v-model="order.gift"
                                        v-bind:true-value="order.sendGift"
                                        v-bind:false-value="order.dontSendGift"
                                    >
                                    <label for="gift">Ship As Gift?</label>
                                </div>
                            </div>
                            <div class="form-­group">
                                <div class="col­-md-­6 boxes">
                                    <input type="radio" id="home" value="Home" v-model="order.method" v-bind:value="order.home">
                                    <label for="home">Home</label>
                                    <input type="radio" id="business" value="Business" v-model="order.method" :value="order.business">
                                    <label for="business">Business</label>
                                </div>
                            </div>
                            <div class="form-­group">
                                <div class="col-­md-­6">
                                    <button type="submit" class="btn btn-primary submit" @click="submitForm">Place Order</button>
                                </div>
                            </div>
                            <div class="col-­md-­12 verify">
                                <pre>
                                    First Name: {{ order.firstName }}
                                    Last Name: {{ order.lastName }}
                                    Address: {{ order.address }}
                                    City: {{ order.city }}
                                    Zip: {{ order.zip }}
                                    State: {{ order.state }}
                                    Gift: {{ order.gift }}
                                    Method: {{ order.method }}
                                </pre>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="index.js"></script>
</body>
</html>